/*
 * ----------BASE----------
 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Roboto', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
}

h1 {
    font-size: 240%;
    color: #fff;
    margin-bottom: 10px;
}

h2, h3 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
}

h2 {
    font-size: 180%;
}

h3 {
    font-size: 110%;
}

section {
    padding: 50px 0;
}

.row {
    max-width: 960px;
    margin: 0 auto;
}

.clearfix { zoom: 1; }
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*
 *----- REUSEBLE COMPONENTS
 */

/* ---- ICON ------*/
.icon-big {
    font-size: 350%;
    display: block;
    color: #fff;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #fff;
    font-size: 120%;
    /* secrets to align text and icon */
    /* untuk menyelaraskan/seimbang antara text dan icon */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* ---------- BUTTON ----------*/

.btn:link,
.btn:visited,
input[type=submit] {
    font-size: 75%;
    color: #fff;
    padding: 10px 40px;
    display: inline-block;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid #fff;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

input[type=submit] {
    background-color: #223139;
}

.btn i {
    font-size: 120%;
    margin-left: 15px;
    line-height: 120%;
    vertical-align: center;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #093348;
}

/*---- LINE BREAK --- */

.nav__text-best-code:after,
.section__testimonis-say p:after,
.our__team-quote:before,
.footer__line:after {
    display: block;
    height: 1px;
    content: " ";
}

.nav__text-best-code:after {
    background-color: #fff;
    max-width: 410px;
    margin: 20px auto;
}

.section__testimonis-say p:after,
.our__team-quote:before {
    background-color: #c9d4da;
    max-width: 480px;
    margin: 30px auto;
}

.footer__line:after {
    background-color: rgba(240,240,240,0.4);
    max-width: 960px;
    margin: 30px auto;
}


/*
 * ---------- NAVBAR ----------
 */

.nav__bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #093348;
    box-shadow: 0 2px 2px #093348;
    z-index: 999999;
}

.main__nav {
    margin-top: 20px;
    float: right;
    list-style: none;
}

.main__nav li {
    display: inline-block;
    margin-left: 30px;
}

.main__nav li a:link,
.main__nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 70%;
    font-weight: 400;
    padding: 10px;
    border-radius: 2px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.main__nav li a:hover,
.main__nav li a:active,
.active {
    background-color: #0f5375;
}

.logo {
    margin: 10px 0;
    width: auto;
    float: left;
}

/*
 * ---------- HEADER ----------
 */

header {
    background-image: linear-gradient(rgba(9,51,72,0.7),rgba(9,51,72,0.7)), url('img/Coding4.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.nav__text-box {
    position: absolute;
    top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.nav__text-best-code {
    letter-spacing: -1px;
    color: #fff;
    font-size: 120%;
    font-weight: 200;
}

.nav__text-work {
    font-size: 75%;
    line-height: 21px;
    color: #b4d1e1;
    font-weight: 200;
    margin-bottom: 20px;
}



/*
 * ---------- SECTION OUR TEAM ----------
 */

.our__team {
    text-align: center;
}

.our__team img {
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 1px 3px rgba(6,6,6,0.14);
    height: 170px;
    width: 170px;
}

.our__team div {
    color: #000;
    font-weight: 400;
}

.our__team span {
    font-size: 65%;
    font-weight: 400;
    color: #618598;
}

.our__team-quote {
    text-align: center;
}

.our__team-quote p {
    font-size: 75%;
    width: 500px;
    margin: 0 auto;
    font-weight: 400;
    color: #0d415c;
}


/*
 * ---------- SECTION PORTFOLIO ----------
 */

.section__porfolio {
    text-align: center;
    background-color: #3ead87;
}

.section__porfolio h2,
.section__porfolio p {
    color: #fff;
}

.section__porfolio p {
    text-align: center;
    font-size: 90%;
    margin-bottom: 50px;
}

.section__porfolio img {
    width: 70%;
    height: 150px;
    border-radius: 50%;
}

.section__porfolio-center-1 {
    border-right: 1px solid #4ebe98;
}

.section__porfolio-center-1 figure img {
    margin-right: 50px;
    opacity: 0.7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.95);
}

.section__porfolio-center-1 i {
    transform: translate(-11%, -150%);
}

.section__porfolio-center-2 img {
    margin-left: 50px;
}

.section__porfolio-contact {
    margin-top: 20px;
}

/*
 * ---------- SECTION TESTIMONI----------
 */

.section__testimonis-say {
    display: flex;
}

.section__testimonis-say p {
    text-align: center;
    font-size: 75%;
    color: #708b99;
    font-style: italic;
    max-width: 706px;
    margin: 0 auto;
}

.section__testimonis-say a:link,
.section__testimonis-say a:visited {
    border-radius: 50%;
    border: 1px solid #c9d4da;
    height: 33px;
    line-height: 33px;
    -webkit-transition: border 0.5s;
    transition: border 0.5s;
}

.section__testimonis-say a:hover,
.section__testimonis-say a:active {
    border: 2px solid #b9c1c5;
}

.section__testimonis-say a i {
    color: #d9e1e5;
}

.section__testimonis-client {
    font-weight: bold;
    font-size: 65%;
    color: #2d4159;
    text-align: center;
}

.section__testimonis-client span {
    color: #708b99;
    font-weight: 300;
}

/*
 * ---------- SECTION CONTACT----------
 */

.section__contact,
footer {
    background-color: #223139;
    color: #fff;
}

.section__contact p {
    font-size: 90%;
    text-align: center;
    margin-bottom: 20px;
}

.section__contact-form {
    text-align: center;
}

.section__contact-form input[type=text],
.section__contact-form input[type=email],
.section__contact-form textarea {
    width: 500px;
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    box-shadow: 0.5px 0.866px 5px rgba(6,6,6,0.24);
    margin: 5px 0;
    font-size: 75%;
    color: #8ea6b3;
    text-align: center;
}

textarea {
    height: 140px;
}

*:focus {
    outline: none;
}

/*
 * ---------- FOOTER ----------
 */

footer {
    padding: 20px 0;
}

.footer__social_media {
    float: left;
    vertical-align: middle;
}

.footer__social_media li:first-child {
    font-size: 80%;
    line-height: 26px;
}

.footer__social_media li {
    display: inline-block;
    margin-right: 5px;
}

.footer__copyright {
    float: right;
    font-size: 60%;
}


